

.post {
    margin: 1rem;
}

.title{
    color:var(--defaultColor);
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 600;
    text-decoration: none;
    margin-bottom:.5rem;
  }

.date {
    font-size: .875rem;
    color: var(--defaultColor);
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 2rem;
}

.tag {
    font-size: .875rem;
    color: var(--currentColor);
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.details {
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--defaultColor);
    margin-bottom: .4rem;
}

.read {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625;
}