.header {
    background-color: 'var(--bg)';
    //background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 0%;
    padding-left: 15%;
    padding-bottom: 10px;
    padding-top: 5px;
    align-items: center;

    border-bottom: 0px solid;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    //sticky header is transparent
    //position: sticky;
    //top: 0;
}
/* Formatting my name text*/
.title{
  color:var(--defaultColor);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

/* Styling the left 1fr grid; we want it centered*/
.name {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}

/* Styling underline for my name but not the face*/
.title  { 
  border-bottom: 1.5px solid transparent;
}
.title:hover {
  color: var(--linkHover);
  border-color: var(--linkHover);
}

/* Styling image*/
.name img {
  object-fit: cover;
  border-radius:50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 0.5px solid black;
  margin-right: 4px;
}

.links {
  display: inline-flex;
  align-items: center;
}

.links a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 300px;
  border-bottom: 1.5px solid transparent;
}
.links a:hover {
  color: var(--linkHover);
  border-color: var(--linkHover);
}

.nav-item {
  color:#666666;
  font-size: 1rem;
  font-weight: 600;
  margin-right: .5rem;
  text-decoration: none;
}

.nav-item:hover{
  color: dodgerblue;
}

.active-nav-item {
  color: black;
}

.dark-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}
.dark-button:before, .dark-button:after {
  box-sizing: border-box;
}
.dark-button label {
  position: relative;
  display: block;
  width: 45px;
  height: 25px;
  border-radius: 100px;
  background-color: #252525;
  overflow: hidden;
  cursor: pointer;
}
.dark-button label:before, .dark-button label:after {
  display: block;
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.5s ease;
}
.dark-button label:before {
  background-color: var(--currentColor);
}
.dark-button label:after {
  background-color: #252525;
  left: -58px;
  transform: scale(0.00001);
}
.dark-button input[type=checkbox] {
  display: none;
}
.dark-button input[type=checkbox]:checked + label:before {
  background-color: var(--currentColor);
  transform: translateX(20px);
}
.dark-button input[type=checkbox]:checked + label:after {
  transform: translateX(75px) scale(1);
}

