.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    //Current inplementation isnt centered but at least we sorta gets both
    max-width: 800px;
    min-width: 400px;

    margin-left: 25%;
    //margin-right: 25%;
    padding: 1rem;
    padding-top: 2rem;
    
    flex-grow: 1;
}

.content a {
    color: dodgerblue;
    text-decoration: none;
}

/* mouse over link */
.content a:hover {
    color: var(--linkHover);
    text-decoration: underline;
  }

